.navbar{
    position: relative;
    display: flex;
    height: 60px;
    .navbar-nav{
        display: flex;
        @extend .list;
        li{
            a{
                @extend .link;
                font-family: $main-font;
                color: #5A5B6A;
            }
        }
        li:last-child{
            margin-left: 35px;
        }
    }
    .navbar-search{
        margin-left: 60px;
        i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .search-icon{
            color: #787885;
            left: 34.5%;
        }
        .close-icon{
            color: $primary-color;
            right: 38%;
        }
        input{
            border: none;
            background-color: $secondary-color;
            padding: 10px 40px;
            width: 400px;
            border-radius: 20px;
        }
    }
}

